/* Chart Component Styles */
.chart-panel {
    background: #0f1419;
    position: relative;
    flex: 1;
    min-width: 0;
}

.chart-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#chart-widget {
    width: 100%;
    height: 100%;
}

.chart-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 14px;
}

.chart-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ef4444;
    font-size: 14px;
    text-align: center;
}
